@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Recpies Website</h1>
    <h1 class="display-5">now we have 2 recepies but we going to expand</h1>
    <p>Enjoy!!</p>
    <img src=https://imaot.co.il/images/Uploads/RecipeImages/4209792762019.jpg width ="200" length = "500">
</div>
